.idea
cmake-build-debug
multiple-type-multiple-ranges/.idea
multiple-type-multiple-ranges/cmake-build-debug
multiple-type-multiple-ranges/resolver/.idea
multiple-type-multiple-ranges/resolver/cmake-build-debug


